<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Solar Telescope Control Panel</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <!-- Header/Banner -->
        <header class="banner">
            <img src="static/banner.png" alt="Automated Solar Telescope Banner">
        </header>

        <!-- Server Control -->
        <section class="server-control">
            <h3>INDIGO Server Control</h3>
            <p>Connected on <span id="server-ip">IP</span></p>
            <div class="server-buttons">
                <button id="start-server">Start</button>
                <button id="kill-server">Kill</button>
            </div>
            <div class="log-output">
                <p>INDIGO server logging...</p>
            </div>
        </section>

        <!-- Solar Calculations -->
         <section class="calculations">
            <h3>Solar Calculations</h3>
            <p>Last Checked: <span id ="sun_time"> X/XX/XX 00:00</span></p>
            <div class="mount-coordinates">
                <p>Altitude: <span id="solar_alt">--</span> | Azimuth: <span id="solar_az">--</span></p>
                <p>Rise: <span id="sunrise">--</span> | Set: <span id="sunset">--</span> | Meridian: <span id="solar_noon">--</span></p>
            </div>
            <div class="server-buttons">
                <button id="start-mount">Start Mount</button>
                <button id="track-sun">Track Sun</button>
                <button id="stop-mount">Stop Mount</button>
            </div>
        </section>

        <!-- Mount Control -->
        <section class="mount-control">
            <h3>PMC8 Mount Control (Deprecated)</h3>

            <!-- RA and DEC Display -->
            <div class="mount-coordinates">
                <p>RA: <span id="ra-placeholder">00:00:00.00</span> | DEC: <span id="dec-placeholder">00:00:00.00</span></p>
            </div>

            <!-- Slew Rate Input -->
            <div class="mount-coordinates">
                <label for="slew-rate">Rate:</label>
                <input type="number" id="slew-rate" placeholder="Enter rate">
            </div>

            <!-- D-pad for Slewing -->
            <div class="dpad">
                <button id="slew-west" class="dpad-btn">W</button>
                <div class="dpad-middle">
                    <button id="slew-north" class="dpad-btn">N</button>
                    <button id="stop-mount" class="dpad-stop">STOP</button>
                    <button id="slew-south" class="dpad-btn">S</button>
                </div>
                <button id="slew-east" class="dpad-btn">E</button>
            </div>

        </section>

        <!-- Dome and Etalon Control -->
        <section class="dome-etalon-control">
            <h3>Dome & Etalon Control</h3>
            <div class="dome-control">
                <p> <b>Dome Position: </b><span id="dome-position">0</span></p>
                <button id="open-dome">OPEN</button>
                <button id="close-dome">CLOSE</button>
            </div>
            <div class="etalon-control">
                <p> <b>Etalon 1 Position: </b><span id="etalon1-position">0</span></p>
                <p><input type="number" placeholder="Etalon 1 Rate" id="etalon1-rate"></p>
                <button id="etalon1-inward">IN</button>
                <button id="etalon1-stop" class="nstep-stop-btn">STOP</button>
                <button id="etalon1-outward">OUT</button>
                <p> <b>Etalon 2 Position: </b><span id="etalon2-position">0</span></p>
                <p><input type="number" placeholder="Etalon 2 Rate" id="etalon2-rate"></p>
                <button id="etalon2-inward">IN</button>
                <button id="etalon2-stop" class="nstep-stop-btn">STOP</button>
                <button id="etalon2-outward">OUT</button>
            </div>
        </section>

        <!-- Weather -->
        <section class="weather">
            <h3>Weather @ Chapel Hill, NC</h3>
            <p>Last Checked: <span id ="last_checked"> X/XX/XX 00:00</span></p>
            <div class="mount-coordinates">
                <p>Condition: <span id="condition">xxxxx</span></p>
                <p>Temperature: <span id="temperature">XX.X</span> °C </p>
            </div>
        </section>

        <!-- nSTEP Control -->
        <section class="nstep-control">
            <h3>nSTEP Focuser Control </h3>
            <b>nSTEP Focuser Position: </b><span id="nstep-position">0</span></p> 
            <input type="number" id="nstep-rate" placeholder="nSTEP Rate"></p>
            <button id="nstep-inward" >IN</button>
            <button id="nstep-stop" class="nstep-stop-btn">STOP</button>
            <button id="nstep-outward" >OUT</button>
        </section>


        <!-- Dome Camera -->
        <section class="dome-cam">
            <h3>Dome Camera</h3>
            <!-- Image element to display the live stream -->
            <img id="dome-video" src="http://192.168.1.160:8081/0/stream" alt="Dome Camera Feed" width="600" height="600">
        </section>

        
        <!-- Science Camera -->
        <section class="science-cam">
            <h3>Science Camera</h3>
            <iframe src="http://192.168.1.160:6080/vnc.html" width="700" height="700" class="iframe-border"></iframe>
        </section>


        <!-- File Status -->
        <section class="file-status">
            <h3>File Status</h3>
            <p>Status: <span id="file-status">Idle</span></p>
        </section>
    </div>
    <script src="static/socket.io.min.js"></script>
    <script src="static/ast.js"></script>
</body>
</html>
